/* Banner Image */

.banner {
    position: relative; 
    max-height: 350px;
    z-index: 1;
}

.banner-img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    max-height: 300px;
}

.circle-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.logo-img {
    width: 100%;
    height: auto;
}


/* body-font */

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}


/* Navbar */

.navbar {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-right: 10px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.nav-list a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
  }
.nav-list a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(255, 255, 255);
}

/* Backgroud Picture and Headline*/
#cs2{
    margin: 0;
    padding: 0;
    top: 200px;
    left: 100px;
}
.wrapper{
    margin: 0;
    width: 1000px;
}
.cs2-image{
    width: 1900px;
    height: 450px;
    opacity: 55%;

}
/*Headers*/
.header{
    color: white;
    text-decoration: none;
    height: inherit;
    max-height: 100px;
}

/*Roster Cards*/
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
}
.container{
    display: flex;
}
/*
.player-card{
    background: rgb(97, 96, 96);
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}

.player-card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 12px 12px 0 0;
}

.player1{
    background-image:url('/Teams/CS2 Assets/cs2-agent1.jpg') ;
}

h2{
    display: flex;
    text-align: center;
    font-size: 15px;
}
*/
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
img{
    height: 350px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}
.intro{
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background: rgb(27, 27, 27);
    color: white;
    transition: .5s;
}
h2{
    margin: 10px;
    font-size: 40px;
}
p{
    font-size: 30px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 220px;
    bottom: 240px;
    background: black;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}