/* TTU Logo */
.ttu-logo {
    display: flex;
    position: absolute;
    left: 40px;
    top: 20px;
}
.ttu-logo a {
    width: 177px;
    height: 21px;
    color: white;
}
.ttu-logo-img {
    max-width: 35px;
    max-height: 35px;

}

/* Banner Image */
.banner {
    display: flex;
    position: absolute; 
    top: 70px; 
    left: 290px;
    max-height: 300px;
    z-index: 1;
}
.banner-img {
    object-fit: cover; 
    border-radius: 20px;
}
.circle-logo {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 2;
}
.logo-img {
    width: 100%;
    height: auto;
}

/* body-font */
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

/* Navbar */
.navbar {
    padding: 10px;
    position: absolute;
    top: 300px;
    right: 10px;
    z-index: 2;
}
.nav-list a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
  }
.nav-list a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: white;
}
.nav-list {
    list-style-type: none;
    padding: 0;
}
.nav-list li {
    display: inline;
    margin-right: 10px;
}
.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

/* Upcoming Events */
.upcoming-events {
    text-align: left;
}
.upcoming-events h2 {
    margin-top: 380px;
}
.events-img {
    max-height: 400px;
}

/* Find Us*/
.find-us {
    float: right;
    text-align: left;
    border: 10px solid #cc3524;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 400px;
}